{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

    <br>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="font-weight-bold text-primary">Add nodes</h4>
        </div>
        <div class="card-body">

    <div class="table-responsive">
        <form id="addNodes" action="{{ url_for('addresources', infid=infid) }}" method="post">
        <table id="tableSystems" class="table table-bordered table-striped" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <!-- <th>id</th>-->
                    <th>Node type</th>
                    <th>Num. of nodes</th>
                </tr>
            </thead>
            <tbody>
                {% for system in systems %}
                <tr>
                    <td>{{ system.name }}</td>
                    <td>
                        <input type="text" class="form-control" id="{{system.name}}_num" name="{{system.name}}_num" value="0" aria-describedby="Numner of nodes to add"/>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success submitBtn">Submit</button>
        </form>
    </div>
    </div>
    </div>
</div>


{% endblock %}
