
<br>
 <div id="confScheduling">
   <div class="form-group">
       <h5>Configure scheduling:</h5>
<!--
       <label class="radio-inline">
           <input id="autosched" type="radio" name="extra_opts.schedtype" value="auto"> Auto
       </label>
       <label class="radio-inline">
           <input id="mansched" type="radio" name="extra_opts.schedtype" value="man" checked> Manual
       </label>
-->
   </div>

   <script>

    function loadSites() {
        $('#selectedSite').empty();
        $('#selectedSite').append("<option value=''>Loading Sites ...</option>");
        $.ajax({
            method: "GET",
            url: "/sites/" + $('#selectedVO').val(),
            success : function(text)
            {
                $('#selectedSite').empty();
                $('#selectedSite').append("<option value=''> - Select one site - </option>");
                $('#selectedSite').append(text);
            }
        });
    }

    function loadImages() {
        $('#selectedImage').empty();
        $('#selectedImage').append("<option value=''>Loading Images ...</option>");
        $.ajax({
            method: "GET",
            url: "/images/" + $("#selectedSite").val() + "/" + $('#selectedVO').val(),
            success : function(text)
            {
                $('#selectedImage').empty();
                $('#selectedImage').append("<option value=''> - Select one image - </option>");
                $('#selectedImage').append(text);
            }
        });
    }

    function activateSubmit() {
        $(".submitBtn").attr("disabled", false);
    }
    </script>

   <div id="manschedConf" class="form-group">
       <p></p>
       <label>Select a VO:</label>
       <select class="js-example-basic-single js-states form-control" id="selectedVO" name="extra_opts.selectedVO" onchange="loadSites()">
         <option name="selectedImage" value=""> - Select one VO - </option>
       {% for vo in vos %}
           <option name="selectedVO" value={{vo}}>{{vo}}</option>
       {% endfor %}
       </select>
       <label>Select a provider:</label>
       <select class="js-example-basic-single js-states form-control" id="selectedSite" name="extra_opts.selectedSite" onchange="loadImages()">
        <option name="selectedImage" value="">Select a VO</option>
       </select>
       <label>Select a image:</label>
       <select class="js-example-basic-single js-states form-control" id="selectedImage" name="extra_opts.selectedImage" onchange="activateSubmit()">
            <option name="selectedImage" value="">Select a provider</option>
        </select>
   </div>
   <br>

 </div>
