<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BS4-->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scroller.bootstrap4.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.scroller.min.js') }}"></script>

    <!-- Select2 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>

    <!-- Toggle -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4-toggle.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap4-toggle.min.js') }}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap-show-password.min.js') }}"></script>

    <!-- FontAwesome-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">

    <!-- Add favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon_io/favicon-32x32.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon_io/site.webmanifest') }}">

    <!-- Dotdotdot -->
    <script src="{{ url_for('static', filename='js/dotdotdot.js') }}"></script>

    <!-- Cookie Consent -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cookieconsent.min.css') }}">
    <script src="{{ url_for('static', filename='js/cookieconsent.min.js') }}"></script>

    <script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#050101"
            },
            "button": {
              "background": "#337ab7"
            }
          },
          "theme": "classic",
          "position": "top"
        })
    });
    </script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for("home") }}">IM Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
	    <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav mr-auto">
                    {% if session['username'] %}
                    <li class="nav-item active"><a class="nav-link" href="{{ url_for("showinfrastructures") }}">Infrastructures</a></li>
		    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Advanced</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for("show_settings") }}">Settings</a>
			</div>
		    </li>
		    {% if session["external_links"]|length > 0 %}
		    <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">External Links</a>
                        <div class="dropdown-menu">
			    {% for link in session["external_links"] %}
			      <a class="dropdown-item" href="{{ link.url }}" target="blank">{{link.menu_item_name}}</a>
			    {% endfor %}
                        </div>
                    </li>
		    {% endif %}
                    {% endif %}
                </ul>
                {% if session['username'] %}
                <ul class="navbar-nav ml-auto">
	            <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <img class="rounded-circle" src="{{ session['gravatar'] }}"</src> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ session['username'] }}<span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
			                      <a class="dropdown-item" href="{{ url_for("manage_creds") }}">Service Credentials</a>	
                            <a class="dropdown-item" href="{{ url_for("logout") }}">Logout</a>
                        </div>
	            </li>
                </ul>
	        {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
</body>
</html>

<style>
body {
  margin-bottom: 70px
}	  
</style>
