<script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
<script>
    $(function() {
      $('.dropdown-menu a').click(function() {
        $('#myInputId').val($(this).attr('data-value'));
      });
    });
</script>
  <form id="credForm" action="{{ url_for('write_creds') }}?service_id={{service_id}}&service_name={{service_name}}" method="post">
      <div class="form-group">
	      <label for="project"><strong>Project</strong></label>

        <div>
          <input name="project" class="col-sm-10" type="text" id="myInputId" value="{{ service_creds['project'] if service_creds else '' }}"/>
          {% if projects %}
          <button type="button" class="col-sm-1 btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="dropdown-menu" aria-labelledby="myInputId">
            {% for vo, project_id in projects.items() %}
            <a class="dropdown-item" data-value="{{project_id}}" href="#">{{vo}}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>

      </div>
    </form>
